@import url("https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,100..900;1,100..900&display=swap");

@import "tailwindcss" source(none);

@source "./";

@theme {
  --font-sansPublic: "Public Sans", sans-serif;
  --color-blue-950: hsl(233, 26%, 24%);
  --color-green-500: hsl(136, 64%, 51%);
  --color-cyan-400: hsl(192, 69%, 51%);
  --color-gray-600: hsl(233, 8%, 62%);
  --color-gray-100: hsl(220, 16%, 96%);
  --color-gray-50: hsl(0, 0%, 98%);
  --color-whiteCustom: hsl(0, 100%, 100%);
  --text-h1: 62px;
  --font-weight-h1: 600;
  --leading-h1: 1.4;
  --text-paragraphHero: 20px;
  --font-weight-paragraphHero: 400;
  --leading-paragraphHero: 1.6;
  --text-h2: 36px;
  --font-weight-h2: 600;
  --text-paragraphFeatures: 20;
  --font-weight-paragraphFeatures: 400;
  --text-featuresDesc: 16px;
  --text-socialIcon: 16px;
  --text-footer: 14px;
  --text-articlesDesc: 16px;
  --font-weight-articlesDesc: 400;
  --text-h3: 24px;
  --font-weight-h3: 500;
  --leading-normalText: 1.5;
  --text-phonesNormal: 16px;
  --text-phonesTitle: 21px;
  --text-phonesFooter: 12px;
  --breakpoint-phones: 501px;
  --breakpoint-desktop: 1200px;
}

@layer base {
  body {
    font-family: var(--font-sansPublic);
  }
}
